#animations {
    display: flex;
    justify-content: center;
    
    // border: solid black 5px;
    height: 600px;
    width: 950px;
    margin: 20px auto;

    // #canvas {
    //     // background-color: aqua;
    //     // width: 600px;
    //     // height: 600px;
    //     // border: solid grey 2px;
    //     // border-radius: 10px;
    // }
    
    #instructions {
        padding: 20px;
        background-color: aquamarine;
        font-size: large;
        width: 300px;
        height: 300px;
        border-radius: 10px;
        border: 2px solid navy;
        inline-size: 280px;
        line-height: 1.2;
        overflow-wrap: break-word;
        hyphens: manual;
        box-shadow:5px 5px 20px grey;

        // border: solid blue 2px;
    }
}

// .hide {
//     display: none;
// }
  
.myDIV:hover + .hide {
    display: block;

}
