#bottom {
    // border: solid black 5px;
    // display: flex;
    // justify-content: space-between;
    padding-top: 20px;
    width: 950px;
    margin: 0 auto;
    
    


    // #spotify {
    //     width: 800px;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     // border: solid blue 2px;
    // }
}