header {
    // border: solid black 2px;
    // width: 1000px;
    
    
    padding-top: 40px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
    color: white;
    text-shadow: 2px 3px 10px navy;
    text-align: center;
}